body {
    text-align: center;
    background-image: url("anime_bg_blur.gif");
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
}

i.icons  {
    font-size: 40px; 
    padding-left: 20px;
    padding-bottom: 10px;
    color: var(--blue)
}
#spotifycontent{
    font-family: 'Bakbak One', cursive;
font-family: 'Poppins', sans-serif
}
.title{font-family: 'Secular One', sans-serif;}
